{{title "LinkedIn-About"}}
<h1>About Page</h1>
    <br/><br/><br/>    

    <p1>As assigned, this elaborate Ember.js application, which was designed as a preliminary screening for the internship
	opportunity, is a basic version of LinkedIn.</p1><br/>
	<p2>Basic CRUD functionality is showcased when members are added/deleted/edited.
	</p2>
    <br/><br/><br/>    

<b>About LinkedIn</b>
<br/><br/>
<p3>
<a href="http://www.linkedin.com">LinkedIn</a> is a business and employment-oriented social networking service that operates via websites and mobile apps. Founded on December 28, 2002, and launched on May 5, 2003, it is mainly used for professional networking, including employers posting jobs and job seekers posting their CVs. As of 2015, most of the company's revenue came from selling access to information about its members to recruiters and sales professionals. As of September 2016, LinkedIn had more than 467 million accounts, out of which more than 106 million are active. LinkedIn allows members (both workers and employers) to create profiles and "connections" to each other in an online social network which may represent real-world professional relationships. Members can invite anyone (whether an existing member or not) to become a connection. The "gated-access approach" (where contact with any professional requires either an existing relationship or an introduction through a contact of theirs) is intended to build trust among the service's members. LinkedIn participated in the EU's International Safe Harbor Privacy Principles.
</p3>	