<footer class="page-footer">
  <p>This app was created using Ember.js 2.12. Please click through and check if all requirements are met.</p>
  <p>The database is public. The new registrations are listed in the Admin section.
    The source code has been uploaded on <a href="https://github.com/kkn1806/linkedin">GitHub</a>.</p>
  <p>For clarifications, please contact me @ E-mail ID: krishna180690@gmail.com, Ph. No: +91-8122443890,
    Facebook: <a href="http://www.facebook.com/krishna180690">@krishna180690</a></p>
</footer>
